<div >
        <div class="row">
<div class="card mt-1 l-1 col-3" style="padding: 0 0">
    <div    class="card-header">
        <div class="row" style="margin-bottom: 5px;">
                <h5 class="primary col-5" style="padding-left: 0;">Topic List</h5>
                <button class="btn btn-outline-primary col-2" *ngIf="acc.activeIds.length>0" (click)="acc.activeIds=[]" ngbPopover="Collapse All" triggers="mouseenter:mouseleave"><fa-icon  [icon]="faMinus" ></fa-icon></button>
                <button class="btn btn-outline-primary l-1 ml-1 col-2" ngbPopover="Refresh" triggers="mouseenter:mouseleave" (click)="getTopics()"><fa-icon [icon]="faSyncAlt" ></fa-icon></button>
                <button class="btn btn-outline-primary l-1 ml-1 col-2" ngbPopover="Create Topic" triggers="mouseenter:mouseleave" (click)="openCreateTopic()" ><fa-icon [icon]="faPlus" ></fa-icon></button>
                   
        </div>
        <div class="row">
                <input type="search" class="form-control ds-input" id="search-topic" placeholder="Search..." aria-label="Search for..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;" [(ngModel)]="topicSearch">
        </div>
    </div>
    <div *ngIf="loading" class="d-flex align-items-center" style="padding: 20px;">
            <strong>Loading...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          </div>
    <div *ngIf="topicError" class="alert alert-danger" role="alert">
                {{topicError}}
    </div>      
    <ngb-accordion #acc="ngbAccordion"  >
            <ngb-panel id="{{topic.name}}" *ngFor="let topic of topicSearchAction()" [type]="currentTopic==topic.name?'info':''">
                <ng-template ngbPanelTitle >
                        <div class="topic-name row">
                                <button class="btn btn-outline-primary l-1 ml-1 col-2" ngbPopover="Delete Topic" placement="right" triggers="mouseenter:mouseleave" (click)="deleteTopic(topic.name);event.stopPropagation();" ><fa-icon [icon]="faTrash" ></fa-icon></button>
                                        <span style="float:left" class="col-7" style="text-align: left;">{{topic.name}}</span>
                                        <fa-icon class="col-1" [icon]="faChevronDown" *ngIf="!acc.activeIds.includes(topic.name)"  style="text-align: right;"></fa-icon>
                                        <fa-icon class="col-1" [icon]="faChevronUp" *ngIf="acc.activeIds.includes(topic.name)"  style="text-align: right;"></fa-icon>
                                              
                        </div>
                            
                        
                        
                </ng-template>
                

                <ng-template ngbPanelContent>
                    <ul class="list-group" *ngFor="let item of [].constructor(topic.partitionCount); let i = index">
                            <button type="button"  (click)="gotoMessages(topic.name, i)" class="btn btn-outline-secondary" *ngIf="!(i==currentPartition && topic.name==currentTopic)">partition-{{i}}</button>
                            <button type="button" (click)="gotoMessages(topic.name, i)" class="btn btn-success" *ngIf="i==currentPartition && topic.name==currentTopic">partition-{{i}}</button>
                            
                    </ul>
              </ng-template>
            </ngb-panel>
    </ngb-accordion>
</div>

<div class="card mt-1 l-1 col-9" style="padding: 0 0">
        <div class="card-header" >
                <h5 class="primary l-0" *ngIf="!currentTopic" style="padding-left: 0;">Click on a Topic and Partition to see Messages </h5>
                <h5 class="primary" *ngIf="currentTopic" style="padding-left: 0;">Contents of <span class="text-info">{{currentTopic}}</span><span class="text-success"> partition-{{currentPartition}}</span></h5>
                
              
       
                
                <div class="form-group row">
                        <label for="maxMessages" class="col-sm-2 mt-0 l-0 col-form-label">Max Messages</label>
                        <div class="col-sm-2">
                                <input class="form-control" type="number" id="maxMessages"
                                    [(ngModel)]="maxMessages"/>
                        </div>
                        <button class="btn btn-primary l-1 mr-1 col-sm-1" *ngIf="maxMessages!=originalMaxMessages" (click)="originalMaxMessages=maxMessages;getMessages( )">Set</button>
                        <button class="btn btn-outline-secondary l-1 mr-1 col-sm-1" *ngIf="maxMessages!=originalMaxMessages" (click)="maxMessages=originalMaxMessages">Reset</button>
                        
                        <button class="btn btn-outline-primary l-1 ml-1 col-sm-1" ngbPopover="Refresh" triggers="mouseenter:mouseleave" (click)="getMessages( )"><fa-icon [icon]="faSyncAlt" ></fa-icon></button>
                        <input type="search" class="form-control ds-input l-1 ml-1 col-sm-2" id="search-messages" placeholder="Search..." aria-label="Search for messages..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" 
                             [(ngModel)]="messageSearch">
                        <div class="form-check col-sm-1" style="margin-left: 1rem; margin-top: 0.5rem;" ngbPopover="Hide older messages for same key. Typically useful for compacted topics" triggers="mouseenter:mouseleave">
                                <input  type="checkbox" id="hideold" class="form-check-input" [(ngModel)]="hideOldKeyMessages" (change)="getMessages( )"> 
                                <label class="form-check-label" for="hideold">Hide Old Keys</label>     
                        </div>

                </div>
               
       
        
        
        
           <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="offset" scope="col">Offset</th>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Timestamp Type</th>
                    <th scope="col">Headers</th>
                  </tr>
                </thead>
                
                <tbody >
                    
                    <div *ngIf="messageLoading" class="d-flex align-items-center" style="padding: 20px;">
                            <strong>Loading...</strong>
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                          </div>
                    <div *ngIf="messageError" class="alert alert-danger" role="alert">
                                        {{messageError}}
                    </div>           
                    <tr *ngIf="!messageLoading && (messages==null ||messages.length==0)">
                       <td colspan="6" style="text-align: center;">No Messages found</td>     
                    </tr>
                        
                        <tr *ngFor="let message of messageSearchAction()">
                                <th class="offset" scope="row">{{message.offset}}</th>
                                <td>{{message.key?message.key.substring(0,49):'null'}} <a  *ngIf="message.key && message.key.length>50"  (click)="open(content,'key', message.key)" style="color: #007bff;">...</a></td>
                                
                                <td>{{message.value?message.value.substring(0,49):'null'}} <a  *ngIf="message.value && message.value.length>50" (click)="open(content,'value', message.value)" style="color: #007bff;">...</a></td>
                                <td>{{message.timeStamp | date:'medium'}}</td>
                                <td>{{message.timeStampType}}</td>
                                <td>{{message.headers|json}} <a *ngIf="JSON.stringify(message.headers).length>50" (click)="open(content,'headers',JSON.stringify(message.headers))" style="color: #007bff;">...</a></td>
                        </tr>
                </tbody>
        
        </table>
        <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="messagesSize" [(page)]="page" [pageSize]="pageSize" maxSize="10">
                </ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="20">20 items per page</option>
                  <option [ngValue]="100">100 items per page</option>
                </select>
              </div>
</div>
</div>


      

</div>
