<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <a class="navbar-brand" href="#">Kafka Web UI</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        
    </div>
    <ul class="navbar-nav ml-auto">
            <span class="navbar-brand">Welcome <strong>{{currentUser.username}}</strong></span>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </ul>
    
</nav>

<!-- main app container -->
<div class="custom-container ">
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="https://github.com/rahulbats/kafka-web-ui" target="_top">Github</a>
    </p>
    
</div>